---
import { type MousePost } from "src/api/prismic";
const { data } = (Astro.props) as MousePost

---
<!--
    Create a card for each post
 -->

    <div class="card">
        <div class="card__content">

            <!-- <h2>{post.data.title}</h2>
            <p>{post.data.description}</p> -->
        </div>
        <div class="card__image">
            {data.mouse_name_short}
            <!-- <img src={post.data.image.url} alt={post.data.image.alt} /> -->
        </div>

    </div>

<style>

</style>
